styleGAN.o*
fewshotGAN.o*
__pycache__/dataset.cpython-38.pyc
__pycache__/distributed.cpython-38.pyc
__pycache__/model.cpython-38.pyc
__pycache__/non_leaking.cpython-38.pyc
__pycache__/viz.cpython-38.pyc
op/__pycache__/__init__.cpython-38.pyc
op/__pycache__/fused_act.cpython-38.pyc
op/__pycache__/upfirdn2d.cpython-38.pyc
samples/*
checkpoints/*
#test_sample/*
traversals/*
__pycache__/train.cpython-38.pyc
gifs/sample.gif
wandb/
tests/